version: '3.4'

networks:
  k6:
  grafana:

services:
  influxdb:
    image: influxdb:1.8
    networks:
      - k6
      - grafana
    ports:
      - "8086:8086"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - INFLUXDB_DB=k6

  grafana:
    image: grafana/grafana:9.3.8
    networks:
      - grafana
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - ./grafana:/etc/grafana/provisioning/

  k6:
    image: grafana/k6:latest
    platform: linux/amd64
    networks:
      - k6
    ports:
      - "6565:6565"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
      - GRAPHQL_ENDPOINT=http://host.docker.internal:8000
    volumes:
      - ./tests:/scripts
    command: run /scripts/graphql.js
